
.pitchers-reports {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    row-gap: 20px;
}

.card.container {
    padding: 20px;
    margin: 5px;
    width: 300px;
    cursor: pointer;
  }

  .pitcher.modal {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }
  
  .grades-title {
      font-weight: bold;
  }

  .pitches-container {
    display: flex;
    flex-flow: row;
  }

  .pitches {
    margin-right: 15px;
    text-transform: capitalize;
  }
  .grades-container {
    display: flex;
    flex-flow: row;
  }

  .velocity-container {
    display: flex;
    flex-flow: row;
  }

  .modal-header {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .pip {
      margin-left: 10px;
      margin-right: 10px;
  }

  .scounting-report-modal-text {
    font-size: 15px;
  }

  .full-name {
    text-transform: capitalize;
  }

  .team-text {
    text-transform: capitalize;
  }